.signup-section {
    background: linear-gradient(to right, #6c757d, var(--color-secondary-dark));
    color: white;
    padding: 100px 0;
    text-align: center;
}

.signup-section h1 {
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.signup-form-container {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

.signup-form-container input {
    border-radius: 25px;
    margin-bottom: 15px;
    padding: 15px;
    width: 100%;
    border: 1px solid #ccc;
}

.signup-form-container button {
    width: 100%;
    background-color: var(--color-primary);
    color: white;
    padding: 15px;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    border: none;
}

.signup-form-container button:hover {
    background-color: var(--color-primary-dark);
}

.btn-google {
    background-color: #db4437;
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border-radius: 25px;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
}

.btn-google img {
    margin-right: 10px;
}

.btn-google:hover {
    background-color: #c33b2f;
}

.signup-footer {
    text-align: center;
    margin-top: 20px;
    color: var(--color-secondary-dark);
}

.signup-footer a {
    color: var(--color-primary);
    text-decoration: none;
    transition: color 0.3s ease;
}

.signup-footer a:hover {
    color: var(--color-primary-dark);
}

/* Separator Style */
.separator {
    margin: 20px 0;
    font-weight: 500;
    color: #6c757d;
    text-align: center;
    position: relative;
}

.separator::before,
.separator::after {
    content: "";
    display: inline-block;
    width: 40%;
    height: 1px;
    background-color: #ccc;
    vertical-align: middle;
    margin: 0 10px;
}

/* Footer Styles */
.footer {
    background-color: var(--color-secondary-dark);
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 0.9rem;
}

.footer p {
    margin: 0;
}

.social-icons a {
    color: var(--color-primary);
    margin: 0 10px;
    font-size: 1.2rem;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: var(--color-primary-dark);
}

/* Responsiveness */
@media (max-width: 768px) {
    .signup-section h1 {
        font-size: 2.5rem;
    }

    .signup-form-container {
        padding: 30px;
    }
}